*.coffea
*.pyc
*.*~
*.ipynb
.ipynb_checkpoints/
\#*
configurator.pkl
*/configurator.py
runinfo/
plot/
plotting/plot/
src/BTVNanoCommissioning/version.py
src/BTVNanoCommissioning/workflows/
src/BTVNanoCommissioning/jsonpog-integration/examples/
src/BTVNanoCommissioning.egg-info/
## not track BTV stuff
src/BTVNanoCommissioning/helpers/definitions.py
src/BTVNanoCommissioning/utils/AK4_parameters.py
src/BTVNanoCommissioning/utils/selection.py
src/BTVNanoCommissioning/utils/histogrammer.py
.github/workflows/ctag_DY_workflow.yml
.github/workflows/ctag_Wc_workflow.yml
.github/workflows/ttbar_SL_DL_workflow.yml
.github/workflows/validation_workflow.yml
README.md
metadata/*PF*
metadata/*Comm*

__pycache__
workflows/__pycache__/
.vscode/
runinfo/
dask-report.html
dask-worker-space/
.job_wrapper_failure
plot/
plotting/plot/
*array*
## other submodules
src/Hpluscharm/
